<section class="py-5">
  <div class="container py-lg-4">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-lg-center text-center text-lg-left">
      <div class="flex-auto mb-4 mb-lg-0">
        <h4>项目案例</h4>
        <p class="text-gray mb-0 text-uppercase">architectural ornament</p>
      </div>
      <nav>
        <div class="nav nav-tabs" id="case-nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="case-nav-1-tab" data-toggle="tab" href="#case-nav-1" role="tab" aria-controls="case-nav-1" aria-selected="true"><span>全部</span></a>
          <a class="nav-item nav-link" id="case-nav-2-tab" data-toggle="tab" href="#case-nav-2" role="tab" aria-controls="case-nav-2" aria-selected="false"><span>酒店会所</span></a>
          <a class="nav-item nav-link" id="case-nav-3-tab" data-toggle="tab" href="#case-nav-3" role="tab" aria-controls="case-nav-3" aria-selected="false"><span>精装住宅</span></a>
          <a class="nav-item nav-link" id="case-nav-4-tab" data-toggle="tab" href="#case-nav-4" role="tab" aria-controls="case-nav-4" aria-selected="false"><span>商业餐饮</span></a>
          <a class="nav-item nav-link" id="case-nav-5-tab" data-toggle="tab" href="#case-nav-5" role="tab" aria-controls="case-nav-5" aria-selected="false"><span>文教医疗</span></a>
          <a class="nav-item nav-link" id="case-nav-6-tab" data-toggle="tab" href="#case-nav-6" role="tab" aria-controls="case-nav-6" aria-selected="false"><span>商务办公</span></a>
          <a class="nav-item nav-link" id="case-nav-7-tab" data-toggle="tab" href="#case-nav-7" role="tab" aria-controls="case-nav-7" aria-selected="false"><span>轨道交通</span></a>
          <a class="nav-item nav-link" id="case-nav-8-tab" data-toggle="tab" href="#case-nav-8" role="tab" aria-controls="case-nav-8" aria-selected="false"><span>幕墙精品</span></a>
          <a class="nav-item nav-link" id="case-nav-9-tab" data-toggle="tab" href="#case-nav-9" role="tab" aria-controls="case-nav-9" aria-selected="false"><span>园林绿化</span></a>
          <a class="nav-item nav-link" id="case-nav-10-tab" data-toggle="tab" href="#case-nav-10" role="tab" aria-controls="case-nav-10" aria-selected="false"><span>设计案例</span></a>
        </div>
      </nav>
    </div>
    <hr/>
    <div class="tab-content py-3" id="case-nav-tabContent">
      <div class="tab-pane fade show active" id="case-nav-1" role="tabpanel" aria-labelledby="case-nav-1-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="case-nav-2" role="tabpanel" aria-labelledby="case-nav-2-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="case-nav-3" role="tabpanel" aria-labelledby="case-nav-3-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="case-nav-4" role="tabpanel" aria-labelledby="case-nav-4-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="case-nav-5" role="tabpanel" aria-labelledby="case-nav-5-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="case-nav-6" role="tabpanel" aria-labelledby="case-nav-6-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="case-nav-7" role="tabpanel" aria-labelledby="case-nav-7-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="case-nav-8" role="tabpanel" aria-labelledby="case-nav-8-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="case-nav-9" role="tabpanel" aria-labelledby="case-nav-9-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="case-nav-10" role="tabpanel" aria-labelledby="case-nav-10-tab">
        <div class="row">
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-1.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-2.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-3.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-4.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-5.png);"></div>
              <p class="mb-0">艺廊及商店改造 / DO.DO.</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-6.png);"></div>
              <p class="mb-0">以色列立方别墅/ Ella Sahar</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">住宅空间设计</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-7.png);"></div>
              <p class="mb-0">NA 住宅 / Architect Oshir Asaban</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">其他</p>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 py-3">
            <a href="/case-detail.html" class="hover-unstyled">
              <div class="background-image-cover mb-4" style="height: 230px;background-image: url(/images/home-image-8.png);"></div>
              <p class="mb-0">秘密花园住宅 / Wallflower Architecture</p>
              <hr class="border-primary ml-0 hover-fade-out" style="width:20px;" />
              <p class="text-gray small hover-translate-up">办公空间设计</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
