<form class="text-left">
  <div class="row mb-lg-5">
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="姓名" required="" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="邮箱" required="" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="电话" required="" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="内容"></textarea>
  </div>
  <div class="text-center pt-4">
    <button type="submit" onclick="$('#modal-submit-success').modal()" class="btn btn-secondary">提交</button>
  </div>
</form>
<div class="modal" id="modal-submit-success" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header pb-0 border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-5">
        <img loading="lazy" class="mb-4" src="/icon/success.svg" alt="">
        <h4 class="mb-4">提交成功</h4>
        <p class="small text-muted mb-4">感谢您与我们联系, 我们将在收到消息后第一时间给予您回复！</p>
        <button type="button" class="btn btn-secondary">确定</button>
      </div>
    </div>
  </div>
</div>
