<form class="text-left">
  <div class="row mb-lg-5">
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="姓名" required="" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="邮箱" required="" />
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="电话" required="" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="内容"></textarea>
  </div>
  <div class="text-center pt-4">
    <button type="submit" onclick="$('#modal-submit-success').modal()" class="btn btn-secondary">提交</button>
  </div>
</form>
