<div class="row">
  <div class="col-lg-3 col-md-6 py-3">
    <a href="#">
      <p class="h4">07-28</p>
      <div class="hover-progress-line"></div>
      <p class="font-weight-bold">专访：建筑作为一种呈现的媒介</p>
      <p class="small text-muted mb-4 ellipsis font-weight-light" style="line-height: 26px;min-height: 78px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研套室内设计究，集体讨论。</p>
      <div class="hover-image-box mb-4">
        <img loading="lazy" class="img-fluid" src="/images/home-image-10.png" alt="">
      </div>
      <img src="/icon/like-button.svg" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-6 py-3">
    <a href="#">
      <p class="h4">09-16</p>
      <div class="hover-progress-line"></div>
      <p class="font-weight-bold">“环保简便”引领办公室装修新走向</p>
      <p class="small text-muted mb-4 ellipsis font-weight-light" style="line-height: 26px;min-height: 78px;">经过多年的研究与调查，从今年的6月开工设计至今，</p>
      <div class="hover-image-box mb-4">
        <img loading="lazy" class="img-fluid" src="/images/home-image-11.png" alt="">
      </div>
      <img src="/icon/like-button.svg" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-6 py-3">
    <a href="#">
      <p class="h4">11-26</p>
      <div class="hover-progress-line"></div>
      <p class="font-weight-bold">“营改增”对建筑施工企业的影响</p>
      <p class="small text-muted mb-4 ellipsis font-weight-light" style="line-height: 26px;min-height: 78px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研套室内设计究，集体讨论。勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研套室内设计究，集体讨论。</p>
      <div class="hover-image-box mb-4">
        <img loading="lazy" class="img-fluid" src="/images/home-image-12.png" alt="">
      </div>
      <img src="/icon/like-button.svg" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-6 py-3">
    <a href="#">
      <p class="h4">12-27</p>
      <div class="hover-progress-line"></div>
      <p class="font-weight-bold">热烈祝贺瑞建升级为集团公司</p>
      <p class="small text-muted mb-4 ellipsis font-weight-light" style="line-height: 26px;min-height: 78px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研套室内设计究，集体讨论。</p>
      <div class="hover-image-box mb-4">
        <img loading="lazy" class="img-fluid" src="/images/home-image-13.png" alt="">
      </div>
      <img src="/icon/like-button.svg" alt="">
    </a>
  </div>
</div>
