// Bootstrap Variables
$primary: #2A2A2A;
$secondary: #1468FF;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$btn-padding-y: 0.8rem;
$btn-padding-x: 4rem;
$btn-padding-x-sm: 4rem;
$btn-padding-y-sm: 0.6rem;
$input-padding-x: 0;

@import '~bootstrap/scss/bootstrap.scss';
@import '~slick-carousel/slick/slick.scss';
@import '~social-share.js/dist/css/share.min.css';

// Bootstrap
.form-control {
  border: none;
  border-bottom: 1px solid #D3D3D3;
  &:focus {
    border: none;
    border-bottom: 1px solid #D3D3D3;
    box-shadow: none;
  }
}
.text-muted {
  color: #515151 !important;
}
.bg-black {
  background-color: #222;
}
.pagination {
  .page-item {
    margin: 0 4px;
    .page-link {
      background-color: #4F4F4F;
      color: #fff;
      border: none;
      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }
    &.active {
      .page-link {
        background-color: $primary;
      }
    }
  }
}
.breadcrumb {
  background-color: inherit;
  margin: 0;
  padding-left: 0;
  flex-wrap: nowrap;
  white-space: nowrap;
  .breadcrumb-item + .breadcrumb-item::before {
    content: '>'
  }
}

// slick
.slick-arrow {
  background: rgba(0, 0, 0, 0.64);
  padding: 0.8rem 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-26px);
  border: 0;
  z-index: 19;
  &:hover {
    background: rgba(0, 0, 0, .85);
  }
}
.slick-prev {
  left: 5%;
}
.slick-next {
  right: 5%;
}
.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  button {
    font-size: 0;
    border: 1px solid #D8D8D8;
    width: 24px;
    margin: 0 8px;
    padding: 0;
    @media(min-width: 992px){
      width: 48px;
    }
  }
  .slick-active button {
    border: 2px solid #1468FF;
  }
}

// Variables
$navbar-brand-height-mobile: 45px !default;
$gray: #828282 !default;

// global
html {
  font-size: 14px;
  @media(min-width: 992px){
    font-size: 16px;
  }
}
*:focus {
  outline: none !important;
  box-shadow: none;
}
.container {
  @media(min-width: 992px) {
    max-width: 1470px;
  }
}
.bg-gray {
  background-color: #F7F7F7;
}
.text-gray {
  color: #9C9C9C;
}
.transition {
  transition: all 0.2s;
}
.hover-box-shadow {
  &:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);
  }
}
.hover-unstyled {
  &:hover {
    text-decoration: none;
  }
}
.background-image-cover {
  background-position: center;
  background-size: auto 100%;
  transition: all 0.4s;
}
a:hover,
.hover-trigger-content:hover {
  .background-image-cover {
    background-size: auto 120%;
  }
}
.hover-translate-up {
  transition: all 0.4s;
}
a:hover,
.hover-trigger-content:hover {
  .hover-translate-up {
    transform: translateY(-10px);
  }
}
.hover-fade-out {
  transition: all 0.4s;
}
.hover-fade-in {
  opacity: 0;
  transition: all 0.4s;
}
.hover-show {
  display: none;
}
a:hover,
.hover-trigger-content:hover {
  .hover-fade-out {
    opacity: 0;
  }
  .hover-fade-in{
    opacity: 1;
  }
  .hover-show {
    display: block;
  }
  .hover-hide {
    display: none;
  }
}
.hover-bg-primary {
  transition: all 0.4s;
  &:hover {
    background-color: $primary !important;
    color: #fff;
  }
}
.ellipsis,
.ellipsis p {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.position-lg-absolute {
  position: static;
  @media(min-width: 992px){
    position: absolute;
  }
}
small, .small {
  font-size: 14px;
}
tiny, .tiny {
  font-size: 12px;
}
.bannerHeight {
  height: 150px;
  @media(min-width: 992px){
    height: 272px;
  }
}
body {
  padding-top: 45px;
  @media(min-width: 992px) {
    padding-top: 0;
  }
}
.navbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding: 0;
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
  @media(min-width: 992px) {
    position: relative;
    padding: 0.5rem 0;
  }
  .navbar-brand {
    margin: 0 auto;
    height: $navbar-brand-height-mobile;
    display: flex;
    align-items: center;
    padding: 10px 0;
    @media(min-width: 992px) {
      height: 64px;
      padding: 1rem 0;
    }
    img {
      height: 100%;
    }
  }
  .navbar-toggler {
    border: 0;
    position: absolute;
    left: 0;
    top: 5px;
    .navbar-toggler-icon {
      background-image: url('../../public/icon/menu.svg');
      background-size: 1.2rem;
    }
    &[aria-expanded="true"] {
      position: fixed;
      left: 66%;
      &::after {
        content: '';
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-color: rgba(255,255,255,0.75);
      }
      .navbar-toggler-icon {
        background-image: url('../../public/icon/close.svg');
        background-size: 1.4rem;
      }
    }
  }
  .navbar-collapse {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $primary;
    width: 66%;
    height: 100vh;
    overflow: auto;
    @media(min-width: 992px){
      position: relative;
      background-color: transparent;
      width: auto;
      height: auto;
      padding-top: 0;
      overflow: visible;
    }
    .navbar-nav {
      height: 100vh;
      padding-top: $navbar-brand-height-mobile;
      @media(min-width: 992px){
        height: auto;
        padding-top: 0;
      }
    }
    .nav-item {
      border-top: 1px solid #353535;
      padding: 0;
      @media(min-width: 992px) {
        border-top: 0;
        padding: 0 1.5rem;
      }
      .nav-link {
        color: #fff;
        padding: 10px $navbar-brand-height-mobile/2 11px $navbar-brand-height-mobile;
        @media(min-width: 992px) {
          padding: 0.5rem 0;
          font-size: 14px;
          color: #606060;
          &:hover {
            position: relative;
            &::before {
              content: '';
              position: absolute;
              display: block;
              width: 100%;
              height: 1px;
              background-color: $gray;
              left: 0;
              bottom: 0;
            }
          }
        }
      }
      &.active {
        .nav-link {
          color: #fff;
          @media(min-width: 992px) {
            color: #000;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              display: block;
              width: 100%;
              height: 1px;
              background-color: #000;
              left: 0;
              bottom: 0;
            }
          }
        }
      }
      .dropdown-toggle {
        position: relative;
        &::after {
          position: absolute;
          right: $navbar-brand-height-mobile/2;
          top: 50%;
          display: block;
          margin-left: 0em;
          vertical-align: 0em;
          border: none;
          background-image: url('../../public/icon/add.svg');
          width:14px;
          height: 14px;
          background-size: contain;
          transform: translateY(-6px);
          @media(min-width: 992px){
            right: -12px;
            background-image: url('../../public/icon/dropdown.svg');
            width: 9px;
            height: 8px;
            transform: translateY(-4px) rotate(180deg);
          }
        }
        &[aria-expanded="true"] {
          &::after {
            width: 14px;
            height: 1px;
            transform: translateY(0px);
            background-image: url('../../public/icon/mini.svg');
            @media(min-width: 992px) {
              width: 9px;
              height: 8px;
              background-image: url('../../public/icon/dropdown.svg');
              transform: translateY(-1px) rotate(0deg);
            }
          }
          &::before {
            @media(min-width: 992px) {
              content: '';
              position: absolute;
              display: block;
              width: 100%;
              height: 1px;
              background-color: $gray;
              left: 0;
              bottom: 0;
            }
          }
          @media(min-width: 992px) {
            color: #000;
          }
        }
      }
      .dropdown-menu {
        width: 100%;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
        @media(min-width: 992px) {
          width: auto;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          top: 3.5rem;
          background-color: #fff;
          border: 0;
        }
        .dropdown-item {
          color: $gray;
          padding: 13px 0 13px $navbar-brand-height-mobile*3/2;
          border-top: 1px solid #353535;
          background: url('../../public/icon/right.svg') $navbar-brand-height-mobile center no-repeat;
          @media(min-width: 992px) {
            font-size: 14px;
            color: #7B7B7B;
            padding: 0.6rem 1.5rem;
            border-top: none;
            border-bottom: 1px solid #F2F2F2;
            background: none;
            &:hover {
              background-color: #F2F2F2;
              color: #000;
            }
          }
        }
      }
    }
  }
}
#case-nav-tab {
  border: none;
  .nav-link {
    min-width: 86px;
    border: none;
    border-right: 1px solid #D8D8D8;
    padding: 0 16px;
    margin: 10px 0;
    font-size: .875rem;
    color: $gray;
    @media(min-width: 992px){
      min-width: 0;
      padding: 0 30px;
      &:last-child {
        border: none;
        padding-right: 0;
      }
    }
    &:hover {
      color: $secondary;
    }
    &.active {
      border: none;
      border-right: 1px solid #D8D8D8;
      background-color: inherit;
      color: $secondary;
      span {
          border-bottom: solid 2px $secondary;
          padding: 6px 0;
      }
    }
  }
}
#home-about-nav-tab {
  border: none;
  .nav-link {
    border: none;
    border-right: 1px solid #767676;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 14px;
    color: #fff;
    @media(min-width: 992px){
      padding: 0 30px;
    }
    &.active {
      border: none;
      border-right: 1px solid #767676;
      background-color: inherit;
      span {
          border-bottom: solid 1px #898989;
          padding: 6px 0;
      }
    }
    &:hover {
      span {
          border-bottom: solid 1px #898989;
          padding: 6px 0;
      }
    }
    &:first-child {
      @media(min-width: 992px){
        padding-left: 0;
      }
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
    &:nth-child(3) {
      border-right: none;
      @media(min-width: 992px) {
        border-right: 1px solid #767676;
      }
    }
  }
}
#news {
  .hover-progress-line {
    background-color: #F2F2F2;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 20%;
      transition: all 0.2s linear;
      height: 1px;
      background-color: #C2C2C2;
    }
  }
  .hover-image-box {
    transition: all 0.2s linear;
  }
  a:hover {
    text-decoration: none;
    .hover-progress-line::before {
      width: 100%;
    }
    .hover-image-box {
      transform: translateY(10px);
    }
  }

}
#team {
  .countup {
    font-size: 80px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    &::before {
      content: '+';
      position: absolute;
      right: -30px;
      top: 0;
      font-size: 36px;
    }
    @media(min-width: 992px){
      font-size: 80px;
    }
  }
}
#slick-case-banner {
  height: 50vh;
  @media(min-width: 992px){
    height: 100%;
  }
  .slick-list {
    height: 100%;
    div {
      height: 100%;
    }
  }
}
#slick-case-nav {
  .slick-track {
    padding: 0 1rem;
  }
  .slick-slide {
    line-height: 0;
    min-width: 100%;
    max-width: 100%;
    margin: .5rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.slick-current {
      border: 4px solid $secondary;
      box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.4);
    }
  }
}
#about-nav-tab {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  justify-content: center;
  transform: translateY(50%);
  .nav-link {
    font-size: 1.125rem;
    color: #737373;
    flex: 1 1 auto;
    text-align: center;
    margin: 1.25rem 0;
    padding: 0 1rem;
    font-size: .875rem;
    border-right: 1px solid #BDBDBD;
    &.active {
      color: $secondary;
      position: relative;
      border-color: transparent;
      border-right: 1px solid #BDBDBD;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $secondary;
        bottom: -1.3rem;
        left: 0;
      }
    }
    &:hover {
      color: $secondary;
      border-color: transparent;
      border-right: 1px solid #BDBDBD;
    }
    &:focus {
      border-color: transparent;
    }
    &:last-child {
      border-right: none;
    }
  }
}
#service-list {
  .more {
    background-image: url('../../public/icon/more-white.svg');
    background-position: 85% center;
    background-repeat: no-repeat;
    transition: all 0.2s;
    &:hover {
      background-position: 90% center;
    }
  }
}
#news-nav-tab {
  border: none;
  .nav-link {
    border: none;
    border-right: 1px solid #D8D8D8;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 14px;
    color: #838383;
    @media(min-width: 992px){
      padding: 0 30px;
    }
    &.active {
      border: none;
      border-right: 1px solid #D8D8D8;
      background-color: inherit;
      color: $primary;
      span {
          border-bottom: solid 1px $secondary;
          padding: 6px 0;
      }
    }
    &:hover {
      color: $primary;
      span {
          padding: 6px 0;
      }
    }
    &:first-child {
      @media(min-width: 992px){
        padding-left: 0;
      }
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}
#news-nav-tabContent {
  .line {
    width: 65px;
    height: 0;
    transition: all 0.2s;
    transform-origin: left;
  }
  .icon {
    width: 40px;
    height: 40px;
    background-image: url('../../public/icon/more.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s;
    background-color: transparent;
  }
  .content {
    transition: all 0.2s;
  }
  @media(min-width: 992px){
    a:hover {
      .line {
        transform: scaleX(2);
      }
      .icon {
        background-color: $primary;
        background-image: url('../../public/icon/more-white.svg');
      }
      .content {
        transform: translateX(40px);
      }
    }
  }
}
ul.join-us-list {
  li {
    padding: 0rem 1.5rem;
    margin: 0.5rem 0;
    border-right: 1px solid #E8E8E8;
    &:first-child {
      background: url('../../public/icon/location.svg') left no-repeat;
    }
    &:last-child {
      border-right: none;
    }
  }
}
article {
  p {
    font-size: 0.875rem;
    margin-bottom: 2rem;
  }
  img {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
footer {
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  .accordion {
    @media(min-width: 992px) {
      display: flex;
    }
    .card {
      border: none;
      border-top: 1px solid #353535;
      background-color: $primary;
      @media(min-width: 992px) {
        padding: 0 32px;
        border: none;
        &:last-child {
          padding-right: 0;
        }
      }
      .card-header {
        border-bottom: 1px solid #353535;
        margin-bottom: 0;
        padding: 12px 0;
        @media(min-width: 992px){
          border: none;
          padding-top: 0;
        }
        button {
          color: inherit;
          font-size: 14px;
          width: 100%;
          text-align: left;
          background: url('../../public/icon/add.svg') right no-repeat;
          background-size: 12px auto;
          border: none;
          padding: 0;
          @media(min-width: 992px) {
            background: none;
          }
          &[aria-expanded="true"] {
            background: url('../../public/icon/mini.svg') right no-repeat;
            background-size: 12px auto;
            @media(min-width: 992px) {
              background: none;
            }
          }
        }
      }
      .collapse {
        @media(min-width: 992px) {
          display: block;
        }
      }
      .card-body {
        padding-left: 0;
        padding-right: 0;
        @media(min-width: 992px) {
          padding: 0;
        }
        ul {
          list-style-type: none;
          display: flex;
          padding: 0;
          flex-wrap: wrap;
          margin: 0;
          @media(min-width: 992px) {
            display: block;
          }
          li {
            margin: 10px 36px 10px 0;
            @media(min-width: 992px){
              margin: 10px 0;
            }
            a {
              color: $gray;
            }
          }
        }
      }
    }
  }
}
