<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>瑞建</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.html') %>
    <section class="bg-gray">
      <div id="slick-case-banner">
        <div class="py-5" style="background-image: url(<% process.env.PUBLIC_PATH %>/images/case-banner-1.png);background-position: center;background-size: cover;height: 854px;max-height: 80vh;">
          <div class="container h-100">
            <div class="row no-gutters h-100 align-items-center text-uppercase text-white">
              <div class="col-lg-5">
                <div class="p-4 w-100" style="background: rgba(35, 41, 55, 0.9);max-width: 550px;">
                  <p>introduction</p>
                  <h2>深圳市瑞建建设集团有限公司​​​​</h2>
                  <div class="bg-white my-3" style="height: 1px;width: 36px;"></div>
                  <p>Shenzhen RuiJian Construction Group co., ltd</p>
                  <p class="small">深圳市瑞建建设集团有限公司，创立于2008年， 注册资金10180万元。现任中国建筑装饰协会会员、 广东省建筑协会会员、深圳市装饰行业协会理事单位、深圳市政府采购中心会员、“深圳知名品牌”企业。</p>
                  <a href="#" class="btn btn-secondary">了解更多</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-5" style="background-image: url(<% process.env.PUBLIC_PATH %>/images/case-banner-2.png);background-position: center;background-size: cover;height: 854px;max-height: 80vh;">
          <div class="container h-100">
            <div class="row no-gutters h-100 align-items-center text-uppercase text-white">
              <div class="col-lg-5">
                <div class="p-4 w-100" style="background: rgba(35, 41, 55, 0.9);max-width: 550px;">
                  <p>introduction</p>
                  <h2>深圳市瑞建建设集团有限公司​​​​</h2>
                  <div class="bg-white my-3" style="height: 1px;width: 36px;"></div>
                  <p>Shenzhen RuiJian Construction Group co., ltd</p>
                  <p class="small">深圳市瑞建建设集团有限公司，创立于2008年， 注册资金10180万元。现任中国建筑装饰协会会员、 广东省建筑协会会员、深圳市装饰行业协会理事单位、深圳市政府采购中心会员、“深圳知名品牌”企业。</p>
                  <a href="#" class="btn btn-secondary">了解更多</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container-fluid py-lg-4">
        <div class="d-flex justify-content-between align-items-center">
          <div class="flex-auto">
            <h4>项目案例</h4>
            <p class="text-gray mb-0 text-uppercase">architectural ornament</p>
          </div>
          <nav>
            <div class="nav nav-tabs" id="case-nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="case-nav-1-tab" data-toggle="tab" href="#case-nav-1" role="tab" aria-controls="case-nav-1" aria-selected="true"><span>全部</span></a>
              <a class="nav-item nav-link" id="case-nav-2-tab" data-toggle="tab" href="#case-nav-2" role="tab" aria-controls="case-nav-2" aria-selected="false"><span>酒店会所</span></a>
              <a class="nav-item nav-link" id="case-nav-3-tab" data-toggle="tab" href="#case-nav-3" role="tab" aria-controls="case-nav-3" aria-selected="false"><span>精装住宅</span></a>
              <a class="nav-item nav-link" id="case-nav-4-tab" data-toggle="tab" href="#case-nav-4" role="tab" aria-controls="case-nav-4" aria-selected="false"><span>商业餐饮</span></a>
              <a class="nav-item nav-link" id="case-nav-5-tab" data-toggle="tab" href="#case-nav-5" role="tab" aria-controls="case-nav-5" aria-selected="false"><span>文教医疗</span></a>
              <a class="nav-item nav-link" id="case-nav-6-tab" data-toggle="tab" href="#case-nav-6" role="tab" aria-controls="case-nav-6" aria-selected="false"><span>商务办公</span></a>
              <a class="nav-item nav-link" id="case-nav-7-tab" data-toggle="tab" href="#case-nav-7" role="tab" aria-controls="case-nav-7" aria-selected="false"><span>轨道交通</span></a>
              <a class="nav-item nav-link" id="case-nav-8-tab" data-toggle="tab" href="#case-nav-8" role="tab" aria-controls="case-nav-8" aria-selected="false"><span>幕墙精品</span></a>
              <a class="nav-item nav-link" id="case-nav-9-tab" data-toggle="tab" href="#case-nav-9" role="tab" aria-controls="case-nav-9" aria-selected="false"><span>园林绿化</span></a>
              <a class="nav-item nav-link" id="case-nav-10-tab" data-toggle="tab" href="#case-nav-10" role="tab" aria-controls="case-nav-10" aria-selected="false"><span>设计案例</span></a>
            </div>
          </nav>
        </div>
        <hr/>
        <div class="tab-content py-3" id="case-nav-tabContent">
          <div class="tab-pane fade show active" id="case-nav-1" role="tabpanel" aria-labelledby="case-nav-1-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="case-nav-2" role="tabpanel" aria-labelledby="case-nav-2-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="case-nav-3" role="tabpanel" aria-labelledby="case-nav-3-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="case-nav-4" role="tabpanel" aria-labelledby="case-nav-4-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="case-nav-5" role="tabpanel" aria-labelledby="case-nav-5-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="case-nav-6" role="tabpanel" aria-labelledby="case-nav-6-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="case-nav-7" role="tabpanel" aria-labelledby="case-nav-7-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="case-nav-8" role="tabpanel" aria-labelledby="case-nav-8-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="case-nav-9" role="tabpanel" aria-labelledby="case-nav-9-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="case-nav-10" role="tabpanel" aria-labelledby="case-nav-10-tab">
            <div class="row">
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-1.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-2.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-3.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-4.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-5.png);"></div>
                  <p class="h5 mb-0">艺廊及商店改造 / DO.DO.</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-6.png);"></div>
                  <p class="h5 mb-0">以色列立方别墅/ Ella Sahar</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">住宅空间设计</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-7.png);"></div>
                  <p class="h5 mb-0">NA 住宅 / Architect Oshir Asaban</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">其他</p>
                </a>
              </div>
              <div class="col-lg-3 col-md-6 py-3">
                <a href="#" class="hover-unstyled">
                  <div class="background-image-cover mb-4" style="height: 280px;background-image: url(<% process.env.PUBLIC_PATH %>/images/home-image-8.png);"></div>
                  <p class="h5 mb-0">秘密花园住宅 / Wallflower Architecture</p>
                  <hr class="border-primary ml-0" style="width:20px;" />
                  <p class="text-gray small">办公空间设计</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">上一页</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">下一页</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <%= require('html-loader!../common/footer.html') %>
  </body>
</html>
<script type="text/javascript">
  $('#slick-case-banner').slick({
    prevArrow: '<button type="button" class="slick-prev"><img src="<% process.env.PUBLIC_PATH %>/icon/slick-left.svg"/></button>',
    nextArrow: '<button type="button" class="slick-next"><img src="<% process.env.PUBLIC_PATH %>/icon/slick-right.svg"/></button>',
    autoplay: true,
    fade: true,
    autoplaySpeed: 5000
  })
</script>
