<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>瑞建</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.html') %>
    <section class="py-4">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item"><a href="#">最新案例</a></li>
            <li class="breadcrumb-item active" aria-current="page">艺廊及商店改造项目</li>
          </ol>
        </nav>
      </div>
    </section>
    <section>
      <div class="container-fluid">
        <div class="row no-gutters">
          <div class="col-lg-10 pr-2 d-none d-lg-block">
            <div id="slick-case-detail-banner">
              <div class="py-5" style="background-image: url(<% process.env.PUBLIC_PATH %>/images/case-banner-1.png);background-position: center;background-size: cover;height: 720px;max-height: 75vh;"></div>
              <div class="py-5" style="background-image: url(<% process.env.PUBLIC_PATH %>/images/case-banner-2.png);background-position: center;background-size: cover;height: 720px;max-height: 75vh;"></div>
              <div class="py-5" style="background-image: url(<% process.env.PUBLIC_PATH %>/images/case-banner-1.png);background-position: center;background-size: cover;height: 720px;max-height: 75vh;"></div>
              <div class="py-5" style="background-image: url(<% process.env.PUBLIC_PATH %>/images/case-banner-2.png);background-position: center;background-size: cover;height: 720px;max-height: 75vh;"></div>
            </div>
          </div>
          <div class="col-lg-2">
            <div id="slick-case-detail-nav">
              <div>
                <img class="img-fluid" src="<% process.env.PUBLIC_PATH %>/images/case-banner-1.png" alt="">
              </div>
              <div>
                <img class="img-fluid" src="<% process.env.PUBLIC_PATH %>/images/case-banner-2.png" alt="">
              </div>
              <div>
                <img class="img-fluid" src="<% process.env.PUBLIC_PATH %>/images/case-banner-1.png" alt="">
              </div>
              <div>
                <img class="img-fluid" src="<% process.env.PUBLIC_PATH %>/images/case-banner-2.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container py-lg-4">
        <div id="slick-case-detail">
          <div>
            <p class="text-uppercase">introduction</p>
            <hr class="mb-4">
            <h4>艺廊及商店改造项目</h4>
            <div class="border-top border-gray my-4" style="width: 36px;"></div>
            <p class="text-uppercase mb-5">Commercial space</p>
            <div class="row">
              <div class="col-lg-3">
                <p>项目概况</p>
                <div class="bg-gray my-4" style="height: 1px;">
                  <div class="bg-secondary h-100" style="width: 66px;"></div>
                </div>
                <ul class="list-unstyled p-0 text-muted">
                  <li class="mb-4">客户/client :&nbsp&nbsp&nbsp&nbsp&nbsp亮眸眼镜 </li>
                  <li class="mb-4">项目地点/location :&nbsp&nbsp&nbsp&nbsp&nbsp深圳 宝安</li>
                  <li class="mb-4">项目面积/space :&nbsp&nbsp&nbsp&nbsp&nbsp3000平米</li>
                  <li class="mb-4">参考造价/price :&nbsp&nbsp&nbsp&nbsp&nbsp260万</li>
                  <li class="mb-4">年份/year :&nbsp&nbsp&nbsp&nbsp&nbsp2018年</li>
                </ul>
              </div>
              <div class="col-lg-9">
                <p>项目详情</p>
                <div class="bg-gray my-4" style="height: 1px;">
                  <div class="bg-secondary h-100" style="width: 66px;"></div>
                </div>
                <p class="text-muted mb-5" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。</p>
                <a href="#" class="btn btn-secondary">返回</a>
              </div>
            </div>
          </div>
          <div>
            <p class="text-uppercase">introduction</p>
            <hr class="mb-4">
            <h4>艺廊及商店改造项目</h4>
            <div class="border-top border-gray my-4" style="width: 36px;"></div>
            <p class="text-uppercase mb-5">Commercial space</p>
            <div class="row">
              <div class="col-lg-3">
                <p>项目概况</p>
                <div class="bg-gray my-4" style="height: 1px;">
                  <div class="bg-secondary h-100" style="width: 66px;"></div>
                </div>
                <ul class="list-unstyled p-0 text-muted">
                  <li class="mb-4">客户/client :&nbsp&nbsp&nbsp&nbsp&nbsp亮眸眼镜 </li>
                  <li class="mb-4">项目地点/location :&nbsp&nbsp&nbsp&nbsp&nbsp深圳 宝安</li>
                  <li class="mb-4">项目面积/space :&nbsp&nbsp&nbsp&nbsp&nbsp3000平米</li>
                  <li class="mb-4">参考造价/price :&nbsp&nbsp&nbsp&nbsp&nbsp260万</li>
                  <li class="mb-4">年份/year :&nbsp&nbsp&nbsp&nbsp&nbsp2018年</li>
                </ul>
              </div>
              <div class="col-lg-9">
                <p>项目详情</p>
                <div class="bg-gray my-4" style="height: 1px;">
                  <div class="bg-secondary h-100" style="width: 66px;"></div>
                </div>
                <p class="text-muted mb-5" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。</p>
                <a href="#" class="btn btn-secondary">返回</a>
              </div>
            </div>
          </div>
          <div>
            <p class="text-uppercase">introduction</p>
            <hr class="mb-4">
            <h4>艺廊及商店改造项目</h4>
            <div class="border-top border-gray my-4" style="width: 36px;"></div>
            <p class="text-uppercase mb-5">Commercial space</p>
            <div class="row">
              <div class="col-lg-3">
                <p>项目概况</p>
                <div class="bg-gray my-4" style="height: 1px;">
                  <div class="bg-secondary h-100" style="width: 66px;"></div>
                </div>
                <ul class="list-unstyled p-0 text-muted">
                  <li class="mb-4">客户/client :&nbsp&nbsp&nbsp&nbsp&nbsp亮眸眼镜 </li>
                  <li class="mb-4">项目地点/location :&nbsp&nbsp&nbsp&nbsp&nbsp深圳 宝安</li>
                  <li class="mb-4">项目面积/space :&nbsp&nbsp&nbsp&nbsp&nbsp3000平米</li>
                  <li class="mb-4">参考造价/price :&nbsp&nbsp&nbsp&nbsp&nbsp260万</li>
                  <li class="mb-4">年份/year :&nbsp&nbsp&nbsp&nbsp&nbsp2018年</li>
                </ul>
              </div>
              <div class="col-lg-9">
                <p>项目详情</p>
                <div class="bg-gray my-4" style="height: 1px;">
                  <div class="bg-secondary h-100" style="width: 66px;"></div>
                </div>
                <p class="text-muted mb-5" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。</p>
                <a href="#" class="btn btn-secondary">返回</a>
              </div>
            </div>
          </div>
          <div>
            <p class="text-uppercase">introduction</p>
            <hr class="mb-4">
            <h4>艺廊及商店改造项目</h4>
            <div class="border-top border-gray my-4" style="width: 36px;"></div>
            <p class="text-uppercase mb-5">Commercial space</p>
            <div class="row">
              <div class="col-lg-3">
                <p>项目概况</p>
                <div class="bg-gray my-4" style="height: 1px;">
                  <div class="bg-secondary h-100" style="width: 66px;"></div>
                </div>
                <ul class="list-unstyled p-0 text-muted">
                  <li class="mb-4">客户/client :&nbsp&nbsp&nbsp&nbsp&nbsp亮眸眼镜 </li>
                  <li class="mb-4">项目地点/location :&nbsp&nbsp&nbsp&nbsp&nbsp深圳 宝安</li>
                  <li class="mb-4">项目面积/space :&nbsp&nbsp&nbsp&nbsp&nbsp3000平米</li>
                  <li class="mb-4">参考造价/price :&nbsp&nbsp&nbsp&nbsp&nbsp260万</li>
                  <li class="mb-4">年份/year :&nbsp&nbsp&nbsp&nbsp&nbsp2018年</li>
                </ul>
              </div>
              <div class="col-lg-9">
                <p>项目详情</p>
                <div class="bg-gray my-4" style="height: 1px;">
                  <div class="bg-secondary h-100" style="width: 66px;"></div>
                </div>
                <p class="text-muted mb-5" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。</p>
                <a href="#" class="btn btn-secondary">返回</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= require('html-loader!../common/footer.html') %>
  </body>
</html>
<script type="text/javascript">
  $('#slick-case-detail').slick({
    arrows: false
  })
  $('#slick-case-detail-banner').slick({
    prevArrow: '<button type="button" class="slick-prev"><img src="<% process.env.PUBLIC_PATH %>/icon/slick-left.svg"/></button>',
    nextArrow: '<button type="button" class="slick-next"><img src="<% process.env.PUBLIC_PATH %>/icon/slick-right.svg"/></button>',
    fade: true,
    autoplay: true,
    asNavFor: '#slick-case-detail-nav',
    responsive: [
      {
        breakpoint: 992,
        settings: {
          autoplay: false,
        }
      }
    ]
  })
  $('#slick-case-detail-banner').on('beforeChange', (event, slick, currentSlide, nextSlide) => {
    $('#slick-case-detail').slick('slickGoTo',nextSlide)
  })
  $('#slick-case-detail-nav').slick({
    vertical: true,
    slidesToShow: 4,
    slidesToScroll: 1,
    asNavFor: '#slick-case-detail-banner',
    focusOnSelect: true,
    arrows: false,
    responsive: [
      {
        breakpoint: 992,
        settings: {
          vertical: false,
          slidesToShow: 1,
          arrows: true,
          prevArrow: '<button type="button" class="slick-prev"><img src="<% process.env.PUBLIC_PATH %>/icon/slick-left.svg"/></button>',
          nextArrow: '<button type="button" class="slick-next"><img src="<% process.env.PUBLIC_PATH %>/icon/slick-right.svg"/></button>',
          fade: true,
          dots: true
        }
      }
    ]
  })
</script>
