<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>瑞建</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <section style="background:url(<%= process.env.IMAGE_PATH %>images/join-us-banner.png) center no-repeat;height: 500px;max-height: 60vh;background-size: cover;">
    </section>
    <section class="py-5">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首页</a></li>
            <li class="breadcrumb-item"><a href="#">联系我们</a></li>
            <li class="breadcrumb-item active" aria-current="page">加入瑞建</li>
          </ol>
        </nav>
        <hr class="mb-5"/>
        <div class="row mb-5">
          <div class="col-md-6 py-3">
            <a href="/join-us-detail.html" class="border p-4 d-block hover-unstyled">
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">设计师助理</h5>
                <p class="mb-0 font-weight-bold text-danger">10-15K/月</p>
              </div>
              <ul class="list-unstyled d-flex small text-gray mb-0 join-us-list">
                <li>深圳市</li>
                <li>1—2年</li>
                <li>大专以上学历</li>
                <li>若干人</li>
                <li>近两周内更新</li>
              </ul>
            </a>
          </div>
          <div class="col-md-6 py-3">
            <a href="/join-us-detail.html" class="border p-4 d-block hover-unstyled">
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">设计师助理</h5>
                <p class="mb-0 font-weight-bold text-danger">10-15K/月</p>
              </div>
              <ul class="list-unstyled d-flex small text-gray mb-0 join-us-list">
                <li>深圳市</li>
                <li>1—2年</li>
                <li>大专以上学历</li>
                <li>若干人</li>
                <li>近两周内更新</li>
              </ul>
            </a>
          </div>
          <div class="col-md-6 py-3">
            <a href="/join-us-detail.html" class="border p-4 d-block hover-unstyled">
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">设计师助理</h5>
                <p class="mb-0 font-weight-bold text-danger">10-15K/月</p>
              </div>
              <ul class="list-unstyled d-flex small text-gray mb-0 join-us-list">
                <li>深圳市</li>
                <li>1—2年</li>
                <li>大专以上学历</li>
                <li>若干人</li>
                <li>近两周内更新</li>
              </ul>
            </a>
          </div>
          <div class="col-md-6 py-3">
            <a href="/join-us-detail.html" class="border p-4 d-block hover-unstyled">
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">设计师助理</h5>
                <p class="mb-0 font-weight-bold text-danger">10-15K/月</p>
              </div>
              <ul class="list-unstyled d-flex small text-gray mb-0 join-us-list">
                <li>深圳市</li>
                <li>1—2年</li>
                <li>大专以上学历</li>
                <li>若干人</li>
                <li>近两周内更新</li>
              </ul>
            </a>
          </div>
        </div>
        <nav>
          <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">上一页</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">下一页</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
