<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>瑞建</title>
  </head>
  <body>
    <%= require('html-loader!../common/header.ejs') %>
    <section class="bannerHeight" style="background: url(<%= process.env.IMAGE_PATH %>images/news-banner-1.png) top no-repeat;">
      <div class="container h-100 d-flex align-items-center">
        <div>
          <img loading="lazy" class="img-fluid mb-4" src="<%= process.env.IMAGE_PATH %>images/news-banner-2.svg" alt="">
          <p class="text-gray small">Photo of the Day by Max Kolganov</p>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container py-lg-4">
        <nav>
          <div class="nav nav-tabs" id="news-nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="home-about-nav-1-tab" data-toggle="tab" href="#home-about-nav-1" role="tab" aria-controls="home-about-nav-1" aria-selected="true"><span>全部</span></a>
            <a class="nav-item nav-link" id="home-about-nav-2-tab" data-toggle="tab" href="#home-about-nav-2" role="tab" aria-controls="home-about-nav-2" aria-selected="false"><span>公司动态</span></a>
            <a class="nav-item nav-link" id="home-about-nav-3-tab" data-toggle="tab" href="#home-about-nav-3" role="tab" aria-controls="home-about-nav-3" aria-selected="false"><span>行业新闻</span></a>
          </div>
        </nav>
        <div class="tab-content py-3" id="news-nav-tabContent">
          <div class="tab-pane fade show active" id="home-about-nav-1" role="tabpanel" aria-labelledby="home-about-nav-1-tab">
            <hr class="mb-0 mt-3"/>
            <a href="/news-detail.html" class="d-flex flex-column flex-lg-row border-bottom py-5 hover-unstyled">
              <div>
                <p class="h3 mb-lg-4 text-gray text-nowrap" style="line-height:16px;">10-19</p>
                <i class="icon d-inline-block ml-n2 ml-lg-0"></i>
              </div>
              <div class="border-bottom mx-4 pt-2 line d-none d-lg-block"></div>
              <div class="pr-lg-5 content">
                <h6 class="mb-4">专访：建筑作为一种呈现的媒介</h6>
                <p class="text-muted small mb-0" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。</p>
              </div>
              <div>
                <img loading="lazy" src="<%= process.env.IMAGE_PATH %>images/news-image-1.png" alt="">
              </div>
            </a>
            <a href="/news-detail.html" class="d-flex flex-column flex-lg-row border-bottom py-5 hover-unstyled">
              <div>
                <p class="h3 mb-lg-4 text-gray text-nowrap" style="line-height:16px;">10-19</p>
                <i class="icon d-inline-block ml-n2 ml-lg-0"></i>
              </div>
              <div class="border-bottom mx-4 pt-2 line d-none d-lg-block"></div>
              <div class="pr-lg-5 content">
                <h6 class="mb-4">专访：建筑作为一种呈现的媒介</h6>
                <p class="text-muted small mb-0" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。</p>
              </div>
              <div>
                <img loading="lazy" src="<%= process.env.IMAGE_PATH %>images/news-image-1.png" alt="">
              </div>
            </a>
          </div>
          <div class="tab-pane fade" id="home-about-nav-2" role="tabpanel" aria-labelledby="home-about-nav-2-tab">
            <hr class="mb-0 mt-3"/>
            <a href="/news-detail.html" class="d-flex flex-column flex-lg-row border-bottom py-5 hover-unstyled">
              <div>
                <p class="h3 mb-lg-4 text-gray text-nowrap" style="line-height:16px;">10-19</p>
                <i class="icon d-inline-block ml-n2 ml-lg-0"></i>
              </div>
              <div class="border-bottom mx-4 pt-2 line d-none d-lg-block"></div>
              <div class="pr-lg-5 content">
                <h6 class="mb-4">专访：建筑作为一种呈现的媒介</h6>
                <p class="text-muted small mb-0" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。</p>
              </div>
              <div>
                <img loading="lazy" src="<%= process.env.IMAGE_PATH %>images/news-image-1.png" alt="">
              </div>
            </a>
            <a href="/news-detail.html" class="d-flex flex-column flex-lg-row border-bottom py-5 hover-unstyled">
              <div>
                <p class="h3 mb-lg-4 text-gray text-nowrap" style="line-height:16px;">10-19</p>
                <i class="icon d-inline-block ml-n2 ml-lg-0"></i>
              </div>
              <div class="border-bottom mx-4 pt-2 line d-none d-lg-block"></div>
              <div class="pr-lg-5 content">
                <h6 class="mb-4">专访：建筑作为一种呈现的媒介</h6>
                <p class="text-muted small mb-0" style="line-height: 28px;">经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。每一套设计我们都细心研究，集体讨论。经过多年的研究与调查，从今年的6月开工设计至今，勤劳的设从今年的6月开工设计至今，勤劳的设计精英们已完成五十余套室内设计。</p>
              </div>
              <div>
                <img loading="lazy" src="<%= process.env.IMAGE_PATH %>images/news-image-1.png" alt="">
              </div>
            </a>
          </div>
          <div class="tab-pane fade" id="home-about-nav-3" role="tabpanel" aria-labelledby="home-about-nav-3-tab">
            <div id="news">
              <%= require('html-loader!../common/content-news.ejs') %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%= require('html-loader!../common/footer.ejs') %>
  </body>
</html>
